{% load static %}
<footer class="pb-0">
    <div class="container">
        <hr>
        <!-- Widgets START -->
        <div class="row pt-5">
            <!-- Footer Widget -->
            <div class="col-md-6 col-lg-4 mb-4">
                <img class="light-mode-item" alt="logo" src={% static 'assets/images/logo.svg' %}>
                <img class="dark-mode-item" alt="logo" src={% static 'assets/images/logo-light.svg' %}>
                <p class="mt-3">Bootstrap Themes를 사용하여 만든 토이 프로젝트입니다.</p>
                <div class="mt-4">©2024 <a href="https://github.com/AlbertImKr" class="text-reset btn-link"
                                           target="_blank">Albert</a>. All rights reserved
                </div>
            </div>

            <!-- Footer Widget -->
            <div class="col-md-6 col-lg-3 mb-4">
                <h5 class="mb-4">Navigation</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link pt-0" href="#">Features</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Style Guide</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Get Theme</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link pt-0" href="#">News</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Career <span
                                class="badge text-bg-danger ms-2">2 Job</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Technology</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Startups</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Gadgets</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Footer Widget -->
            <div class="col-sm-6 col-lg-3 mb-4">
                <h5 class="mb-4">태그로 이동</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-primary-soft">Travel</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-warning-soft">Business</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-success-soft">Tech</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-danger-soft">Gadgets</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-info-soft">Lifestyle</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-primary-soft">Vaccine</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-warning-soft">Marketing</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-success-soft">Sports</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-danger-soft">Covid-19</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-info-soft">Politics</a></li>
                </ul>
            </div>

            <!-- Footer Widget -->
            <div class="col-sm-6 col-lg-2 mb-4">
                <h5 class="mb-4">나의 소셜미디어</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/albertimkr/"><i
                        class="fab fa-linkedin fa-fw me-2 text-linkedin"></i>Linkedin</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/AlbertImKr"><i
                        class="fab fa-github fa-fw me-2 text-github"></i>GitHub</a></li>
                </ul>
            </div>
        </div>
        <!-- Widgets END -->
    </div>
</footer>